body {
	background-color: #404247;
}

.jumbotron {
	text-align: center;
}

#USDInput {
	width: 33%;
	float: left;
	display: inline;
	
}

#foreignInput {
	width: 33%;
	float: right;
	display: inline;
}

.list-group {
	width: 33%;
}

#USDList {
	float: left;
	padding-left: 45px ;
	text-align: center;
}

#foreignList {
	float: right;
	display: inline;
	padding-right: 45px;
	text-align: center;
}

#middleEquals {
	color: white;
	display: inline;
	padding-left: 200px;
	margin-top: 100px;
	padding-top: 100px;
	font-size: 3em;

}